body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.timer {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#start-btn {
    background-color: lightblue;
}
#stop-btn {
    background-color: #F63D3A;
}

#reset-btn {
    background-color: #FDA543;
}